fastapi
uvicorn
psycopg2-binary
sqlalchemy
web3
python-dotenv
eth-account>=0.9.0
imagehash
Pillow
opencv-python-headless
ffmpeg-python
hnswlib
pydantic
requests
aiogram>=3.0.0
python-multipart
yt-dlp
